.header {
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 15vh;
  /* min-width: 150px; */
  margin-left: 4.3vw;
  /* background-color: aquamarine; */
  padding-top: 0.7rem;
}

.navlist {
  height: 25px;
  margin: 0 4vw 0 auto;

}

ul {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

li {
  text-decoration: none;
  list-style: none;
  color: black;

  .navkink {

    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;

      color: black;
      transition: color 0.3s linear;
    }

    &:hover,
    &:active {
      color: blueviolet;
    }
  }
}

.p {
  font-size: 1vw;
  font-weight: 500;
}

.icon {
  font-size: 30px;
  margin-right: 20px;
  display: none;
}

@media (max-width:768px) {
  .logo {
    height: auto;
    min-width: 100px;
    margin-left: 10px;
    /* background-color: aquamarine; */
    padding-top: 0.7rem;
  }
}

@media (max-width:420px) {
  .logo {
    width: 80px;
    margin-left: 5px;
    /* background-color: aquamarine; */
    padding-top: 0.7rem;
  }
}

/* @media (max-width:1444px) {

  li {
    font-size: 23px;
  }
} */

@media (max-width:1226px) {

  p {
    font-size: 13px;

  }
}

@media (max-width:900px) {
  li {
    display: none;
  }

  .icon {

    display: block;
  }

}