main {
    /* width: 100%; */
    height: calc(100vh - 10vh);
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box {
    /* height: 60vh; */
    width: 40vw;
    /* min-width: 30rem; */
    /* border: 2px solid red; */
}

.box2 {
    display: flex;
    align-items: center;
}

.cname {
    font-size: 8vh;
}

span {
    color: rgb(255, 140, 0);
}

.btn {
    padding: 10px 50px;
    border-radius: 0.6rem;
    margin-top: 2rem;
    text-decoration: none;
    background-color: lightblue;
}

.cdes {
    margin-top: 2rem;
    font-size: 1.7vh;
}

.box2 {
    align-items: center;
}

img {
    height: inherit;
    margin: 0 auto;
}


@media (max-width:1024px) {

    img {
        height: 50vw;
    }

    .cname {
        font-size: 6vw;
    }

}

@media (max-width:768px) {
    main {
        flex-flow: column;

    }

    .box2 {
        order: 1;
        width: 60vw;
    }

    .box1 {
        width: 90vw;
        order: 2;
    }
}

@media (max-width:540px) {

    img {
        width: 80vh;
    }

    .cname {
        font-size: 40px;
    }

    .btn {
        margin-top: 2rem;
    }

    main {
        gap: 60px;
    }

    .cdes {
        margin-top: 3rem;
    }
}