.social {
    position: absolute;
    top: 30rem;
    left: 25%;
}

.icons2 {
    color: rgb(9, 116, 152);
}

.social-icons2 div {
    border: 2px solid rgb(9, 116, 152);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #3F5BB5;
    padding-bottom: 2rm;

}

.frame {
    height: 40rem;
}